@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #303030;
    font-family: 'Open Sans', sans-serif;

}

.profile{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;                                                                                                                                                                
}

.profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.chatbox-header img{
    width: 50px;
    height: 50px;
    opacity: 0.7;
   padding: 10px;
   cursor: pointer;
}

body{
    display: flex;
    overflow: hidden;
}

.menubox{
    flex: 5.17;
}
.msg-container{
    flex: 12;
}

.header{
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* msg part */
.dp1{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;  
    cursor: pointer;  
}

.chat-head-right img{
    width: 50px;
    height: 50px;
    opacity: 0.6;
   padding: 10px;
   cursor: pointer;
}

.chat-head{
    display: flex;
    align-items: center;
}

.msg-title{
    margin-left: 15px;
}

.msg-title p{
    opacity: 0.8;
}
h4{
    font-weight: 600;
}

/* end of msg part */

.searchbox img{
    width: 20px;
    height: 20px;
    margin: 0 15px;
    opacity: 0.4;
    cursor: pointer;
}

.searchbar{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px 15px;
}

.searchbox{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

.searchbox input{
    border: none;
    outline: none;
    margin-left: 20px;
    width: 98%;
}

.chatdp{
    position: relative;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.more-chats{
    height: calc(100vh - 115px);
    overflow-y: scroll;
    
}
.chat1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
    flex: 1;
}


.chat-info{
    margin-left: 15px;
    flex: 10;
}

.chat-info p{
    font-size: 15px;
    line-height: 20px;
    color: gray;
}

.time p{
    margin-top: -16px;
    color: gray;
}

#pic{
    width: 25px;
    height: 25px;
    padding-top: 10px;
    padding-right: 5px;
}

.chat1::before{
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid #999;
    opacity: 0.2;
}

.chat1:hover{
    background-color: #f5f5f5;

}

.chat1:nth-child(2){
    background-color: #ebebeb;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track{
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #b9b3ae;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.msg-box{
    background-image: url(./img/background.png);
    position: center;
    height: calc(100vh - 120px);
    padding: 20px 80px;
    overflow-y: scroll;
}

.chats{
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;

}

.timing{
    margin-left: 10px;
    font-size: 10px;
    color: gray;
    cursor: text;
}

.sent{
    margin-left: auto;
    background-color: #dcf8c6;
    font-size: 16px;
}

.date{
    border-radius: 8px;
    background-color: white;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: gray;
}

#pic1{
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-left: 5px;
}

.unknown{
    color: gray;
    padding-left: 2px;
    font-size: 12px;
}

#pic2{
    height: 120px;
    width: 120px;
}

.chats1{
    width: fit-content;
    background-color: white;
    border-radius: 8px;
    padding-left: 5px;
}

.chats1 h4{
    padding-left: 8px;
    padding-top: 5px;
}

.tags{
    color: rgb(14, 34, 218);
}

.date1{
    border-radius: 8px;
    background-color: white;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: gray;
}

.info2{
    border-radius: 8px;
    background-color: white;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    margin-top: -10px;
    color: gray;
}

.l1{
    font-family: 'Open Sans', sans-serif;
    color: gray;
    padding-right: 9px ;
    text-transform: capitalize ;
}

.l2{
    font-family: 'Open Sans', sans-serif;
    color: gray;
    padding-left: 9px;
}

.l1:hover{
    text-decoration: underline;
}

.l2:hover{
    text-decoration: underline;
}

.msg-box h4:hover{
    text-decoration: underline;
}

#p5:hover{
    text-decoration: underline;
}
/* msg sender */
.msg-sender img{
    height: 22px;
    width: 22px;
    opacity: 0.6;
    
}

.msg-sender{
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
   
}

.msg-sender input{
    flex: 20;
    height: 35px;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
}
/* end of msg sender */